.metadata/**
Servers/.settings/org.eclipse.wst.server.core.prefs
Servers**
RemoteSystemsTempFiles**
datastructure01/.settings**
datastructure01/target**
datastructure01/.classpath
datastructure01/.project
.recommenders**
*.settings**
*target**
**.factorypath**
**.classpath**
problemSolving/.sts4-cache/classpath-data.json
